@import './base.css';

:root {
  --layout-max-width: 1140px;
  --layout-header-height: 55px;
  --layout-aside-width: 300px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: color-mix(in srgb, var(--color-accent), transparent 95%);
  }
}

hr.vertical {
  height: 100%;
  width: 1px;
  border: none;
  border-right: 1px solid var(--color-border);
}
